.gradient-background{
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3C8DBC, #357CA5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3C8DBC, #357CA5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#logo-text{
    font: 150px Helvetica, Sans-serif;
    letter-spacing: -5px;
    position: relative;
    /* color: rgba(0, 0, 255, 0.5); */
    color: #222D3250;
}
#logo-text:after{
    content: "CariinApp";
    position: absolute; left: 8px; top:8px;
    color: rgba(255, 0, 0, 0.75);
}